// Colors
$color-main: #ffffff;
$color-dark: #000000;
$color-light: #808080;

$color-red-one: #cb4949;
$color-red-two: #d83232;
$color-red-three: #d12656;

$color-orange: #f0844e;

$color-pink: #f04eaa;

$color-yellow: #f0dc4e;

$color-blue-one: #4e94f0;
$color-blue-two: #50a7b8;

$color-violet: #8e5099;

$color-green-one: #50b867;
$color-green-two: #2fc52f;

$color-grey-one: #9a9999;
$color-grey-two: #2e302c;
$color-green-three: #393d3a;
